body {
    text-align: center;
    background-color: rgb(167, 131, 65);
}

.obsah {
    background-color: white;
    border: 15px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div {margin-left: 50px;}

